#name
{
    font-variant-caps:small-caps;
    color:rgb(22, 22, 148);
}
body {
    border-style:double;
    color:black;
    padding: 30px;
    background-image: url(https://images.unsplash.com/photo-1521571086300-579bd981bbb6?ixlib=rb-1.2.1&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb);
}
button:hover
{
    background-color:rgba(12, 64, 12, 0.264);
}
#gen{
    color:black;
}